*~
*.o
*.a
*.la
*.lo
*.swp
*.swo
Makefile
Makefile.in
aclocal.m4
autom4te.cache
configure
config.h
config.h.in
sixteconfig.h
sixteconfig.h.in
config.log
config.status
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
libtool
stamp-h1
ar-lib
doc
.deps
.libs
sixt*.tar.gz
*.DS_Store
build-aux/ar-lib
build-aux/compile
build-aux/config*
build-aux/decomp
build-aux/m4
build-aux/install*
build-aux/ltmain.sh
build-aux/missing
build-aux/test-driver
.cproject
.project
make.log
make_install.log
.version
.tarball-version
.settings/
