*~
*.o
*.a
*.la
*.lo
*.swp
*.swo
Makefile
Makefile.in
aclocal.m4
autom4te.cache
configure
config.h
config.h.in
config.log
config.status
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
libtool
stamp-h1
ar-lib
doc
.deps
.libs
sixt*.tar.gz
*.DS_Store
build-aux/ar-lib
build-aux/compile
