*~
*.o
*.a
*.la
*.lo
configure
Makefile
Makefile.in
doc
.deps
.libs
sixt*.tar.gz

# Binaries:
analyse_xms_events
binary_stream
event_projection
framestore_simulation
pattern_recombination
photon_generation
photon_imaging
psfgen
xms_simulation
ero_exposure
ero_fits2tm
erosita_simulation
hexagonal_pixel_intensity
htrs_psfgen
htrs_simulation
htrs_pixel_intensity
htrs_fits2tm
wfi_simulation

# Autotool stuff:
aclocal.m4
config.sub
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
